.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper-app{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr max-content;

    grid-gap: 20px 0;

    overflow: hidden;
    min-height: 100vh;
    height: 100%;
}


